DirectoryIndex index.php


#enable apache rewrite engine

RewriteEngine on

#set the rewrite base 

RewriteBase /Brief-10-ImmoConnect/views/


#deliver the folder or file directory if it exists on the server

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Push every request to index.php
 
RewriteRule ^(.*)$ index.php [L,QSA]


# Rewrite from a shorter URL to a longer internal URL
RewriteRule ^short-url$ /longer-url [L]
